<app-menu></app-menu>
<div class="row justify-content-center">
	<div class="col-lg-10 col-md-11 col-sm-12 col-xs-12">
		<br><br><h2>Lista de Perfiles</h2><br>
		
		<table class="table table-hover table-striped table-bordered">
			<thead>
				<tr>
					<th>Full Name</th>
					<th>User Name</th>
					<th>Age</th>
					<th>Pin</th>
					<th colspan="3">
						<a  routerLink="/profile/create" class="btn btn-primary">
							New Profile
					    </a>
					</th>
				</tr>
			</thead>
			<tbody>
				
				<tr *ngFor="let profile of profiles">
					<td>{{profile.full_name}}</td>
					<td>{{profile.user_name}}</td>
					<td>{{profile.age}}</td>
					<td>{{profile.pin}}</td>
					<td>
						<a routerLink="/profile/read/{{profile.id}}" class="btn btn-warning">
							<i class="fas fa-eye text-white">Show</i>
	                    </a>
	                </td>
					<td>
						<a routerLink="/profile/update/{{profile.id}}" class="btn btn-info">
							<i class="fas fa-edit">Edit</i>
	                    </a>
	                </td>
					<td>
						<a (click)="delete(profile.id)" class="btn btn-danger">
							<i class="fas fa-trash-alt">Delete</i>
	                    </a>
	                </td>
				</tr>
				
			</tbody>
		</table>
	
	</div>
</div>