<app-menu></app-menu>
<div class="container">
    <div class="col-lg-3 box">
        <div class="box-container">
            <div class="form-group">
                <iframe width="250" height="180" [src]="path(videos.url)" frameborder="0" allowfullscreen></iframe>
            </div>
            <div class="form-group">
                <h6>Name: <label class="text-ajust">{{videos.name}}</label></h6>
                
            </div>
            <div class="form-group">
                <h6>Type:<label *ngIf="videos.type == 'true'" class="text-ajust">YouTube</label><label *ngIf="videos.type == 'false'" class="text-ajust">Archivo</label></h6>
            </div>
          
            <div class="form-group">
                <a routerLink="/videos/update/{{videos.id}}"class="btn btn-info">EDIT</a>
                <a routerLink="/videos" class="btn btn-danger">DELETE</a>
            </div>
        </div>
    </div>
</div>
