<app-menu></app-menu>
<div class="container">
	<table mdbTable>
	  <tbody>
	    <tr mdbTableCol>
	      <th scope="row">Agregar</th>
	      <td><button routerLink="/videos/create">AGREGAR</button></td>
	    </tr>
	  </tbody>
	</table>
	<br><br>
	<div class="row">
		<div class="col-lg-3 box" *ngFor="let video of videos">
			<div class="box-container">
		    	<div class="form-group">
	                <iframe width="250" height="180" [src]="path(video.url)" frameborder="0" allowfullscreen></iframe>
		    	</div>
		    	<div class="form-group">
		    		<h6>Name: <label class="text-ajust">{{video.name}}</label></h6>
		            
		        </div>
		        <div class="form-group">
		            <h6>Type:<label *ngIf="video.type == 'true'" class="text-ajust">YouTube</label><label *ngIf="video.type == 'false'" class="text-ajust">Archivo</label></h6>
		        </div>
		      
		        <div class="form-group">
		        	<a routerLink="/videos/read/{{video.id}}" class="btn btn-warning">SHOW</a>
		        	<a routerLink="/videos/update/{{video.id}}"class="btn btn-info">EDIT</a>
		            <a (click)="delete(video.id)" class="btn btn-danger">DELETE</a>
		        </div>
			</div>
		</div>
	</div>
</div>
