<app-menu></app-menu>
 <div class="row justify-content-center">
		<div class="col-lg-5 col-md-6 col-sm-5 col-xs-5 box">
			<div class="box-container" *ngIf="profile">
				<h3></h3>
		    	
		    	<div class="form-group">
		    		<h5>Full Name:</h5>
		            <label class="text-ajust">{{profile.full_name}}</label>
		        </div>
		        <div class="form-group">
		            <h5>User Name:</h5>
		            <label class="text-ajust">{{profile.user_name}}</label>
		        </div>
				<div class="form-group">
		            <h5>Age:</h5>
		            <label class="text-ajust">{{profile.age}}</label>
		        </div>
		        <div class="form-group">
		            <h5>Pin:</h5>
		            <label class="text-ajust">{{profile.pin}}</label>
		        </div>
		        <div class="form-group">
		            <a routerLink="/profile"class="btn btn-danger">BACK</a>
		        </div>
			</div>
		</div>
	</div>