<app-menu></app-menu>
<div class="container">
	<div class="row">
  		<div class="col-12">
		    <div class="card">
		      	<div class="card-header">
		      		<form #editForm=ngForm (ngSubmit)="edit()" accept-charset="UTF-8" enctype="multipart/form-data">
				      	Nombre del video: <input type="text" name="name" [(ngModel)]="video.name">
				      	<label class="error" [hidden]="!error.name">{{error.name}}</label>
				      	<br>
				      	<div class="form-group">
				      		<div class="form-check">
							<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="true" checked [(ngModel)]="video.type">
						 	<label class="form-check-label" for="exampleRadios1">YouTube</label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="false" [(ngModel)]="video.type">
							<label class="form-check-label" for="exampleRadios2">File</label>
						</div>
				      	</div>
				  	
						<div *ngIf="video.type == 'true'" class="form-group">
				            <label>URL</label>
				            <input type="text" name="url" id="url" class="form-control" [(ngModel)]="video.url" required placeholder="URL">
				        </div>
		                <div *ngIf="video.type == 'false'" class="form-group">
				            <label>File</label>
		    				<input type="file" (change)="onChange($event)" name="video" required class="form-control-file" accept="video/mp4,video/x-m4v,video/*">
				        </div>
				        <div class="form-group">
					    	<button type="submit" class="btn btn-info" [disabled]="!editForm.valid" name="edit">Edit</button>
					        <a routerLink="/videos"class="btn btn-danger">CANCEL</a>
						</div>
		      	    </form>

		        </div>
			</div>
		</div>
	</div>
</div>
