<div class="container">
    <div class="row">
        <div class="col-md-10 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading"><h3>Verificar código</h3></div>
                   	<div class="panel-body">
	                    <form class="form-horizontal" role="form" >
                            <div class="form-group">
                                <label for="code" class="col-md-4 control-label">4 digits code</label>

                                <div class="col-md-6">
                                    <input id="code" type="numeric" class="form-control" name="code" required autofocus>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-8 col-md-offset-4">
                                    <button type="submit" class="btn btn-primary">
                                        CHECK
                                    </button>
                                </div>
                            </div>
	                    </form>
                	</div>
            	</div>
            </div>
        </div>
    </div>
