<div class="sidenav">
         <div class="login-main-text">
            <h1>TubeKids</h1>
         </div>
</div>
<div class="main">
   <div class="col-md-6 col-sm-12">
      <div class="login-form">
         <form #loginform=ngForm (ngSubmit)="onSubmit()">
            <div class="alert alert-danger" [hidden]="!error">
               {{error}}
            </div>
            <div class="form-group">
               <label>Email</label>
               <input type="email" name="email" class="form-control" [(ngModel)]="form.email" placeholder="Email" required>
            </div>
            <div class="form-group">
               <label>Password</label>
               <input type="password" name="password" class="form-control" [(ngModel)]="form.password" placeholder="Password" required>
            </div>
            <button type="submit" class="btn btn-black" [disabled]="!loginform.valid">Log In</button>
            <br>
            New to TubeKids?<a routerLink="/signup"> Sign up now</a>
         </form>
      </div>
   </div>
</div>