<app-menu></app-menu>
   <div class="container">
		<div class="main">
         <div class="col-md-6 col-sm-12">
         	<h3>CREATE A PROFILE</h3>
            <div class="login-form">
               <form #signupform=ngForm (ngSubmit)="onSubmit()">
                  <div class="form-group">
                     <label>FULL NAME</label>
                     <input type="text" name="full_name" class="form-control" placeholder="Full Name" [(ngModel)]="form.full_name" required>
                     <div class="alert alert-danger" [hidden]="!error.full_name">
                        {{error.full_name}}
                     </div>
                  </div>
                  <div class="form-group">
                     <label>USER NAME</label>
                     <input type="text" name="user_name" class="form-control" placeholder="User Name" [(ngModel)]="form.user_name" required>
                     <div class="alert alert-danger" [hidden]="!error.user_name">
                        {{error.user_name}}
                     </div>
                  </div>
                  <div class="form-group">
                     <label>AGE</label>
                     <input type="numeric" name="age" class="form-control" placeholder="Age" [(ngModel)]="form.age" required>
                     <div class="alert alert-danger" [hidden]="!error.age">
                        {{error.age}}
                     </div>
                  </div>
                  <div class="form-group">
                     <label>PIN</label>
                     <input type="numeric" name="pin" class="form-control" placeholder="Pin" [(ngModel)]="form.pin" required>
                     <div class="alert alert-danger" [hidden]="!error.pin">
                        {{error.pin}}
                     </div>
                  </div>
                  <button type="submit" class="btn btn-primary"  [disabled]="!signupform.valid">SAVE</button>
                  <button  class="btn btn-danger" routerLink="/profile">CANCEL</button>
               </form>
            </div>
         </div>
      </div>
</div>