<div class="sidenav">
   <div class="login-main-text">
      <h1>TubeKids</h1>
      <p>Create a New Account</p>
   </div>
      </div>
      <div class="main">
         <div class="col-md-6 col-sm-12">
            <div class="login-form">
               <form #signupform=ngForm (ngSubmit)="onSubmit()">
                  <div class="form-group">
                     <label>Name</label>
                     <input type="text" name="name" class="form-control" placeholder="Name" [(ngModel)]="form.name" required>
                     <div class="alert alert-danger" [hidden]="!error.name">
                        {{error.name}}
                     </div>
                  </div>
                  <div class="form-group">
                     <label>Last Name</label>
                     <input type="text" name="lastname" class="form-control" placeholder="Last Name" [(ngModel)]="form.lastname" required>
                     <div class="alert alert-danger" [hidden]="!error.lastname">
                        {{error.lastname}}
                     </div>
                  </div>
                  <div class="form-group">
                     <label>Email</label>
                     <input type="Email" name="email" class="form-control" placeholder="Email" [(ngModel)]="form.email" required>
                     <div class="alert alert-danger" [hidden]="!error.email">
                        {{error.email}}
                     </div>
                  </div>
                  <div class="form-group">
                     <label>Phone Number</label>
                     <input type="numeric" name="phone" class="form-control" placeholder="Mobile Number" [(ngModel)]="form.phone" required>
                     <div class="alert alert-danger" [hidden]="!error.phone">
                        {{error.phone}}
                     </div>
                  </div>
                  <div class="form-group">
                     <label>Country</label>
                     <input type="text" name="country" class="form-control" placeholder="Country" [(ngModel)]="form.country" required>
                     <div class="alert alert-danger" [hidden]="!error.country">
                        {{error.country}}
                     </div>
                  </div>
                  <div class="form-group">
                     <label>Birthday</label>
                     <input type="date" name="birthday" class="form-control" placeholder="Birthday" [(ngModel)]="form.birthday" required>
                     <div class="alert alert-danger" [hidden]="!error.birthday">
                        {{error.birthday}}
                     </div>
                  </div>
                  <div class="row">
                     <div class="col">
                        <div class="form-group">
                           <label>Password</label>
                           <input type="password" name="password" class="form-control" placeholder="Password" [(ngModel)]="form.password" required>
                           <div class="alert alert-danger" [hidden]="!error.password">
                              {{error.password}}
                           </div>
                        </div>
                     </div>
                     <div class="col">
                        <div class="form-group">
                           <label>Re-Password</label>
                           <input type="password" name="re_password" class="form-control" placeholder="Password" [(ngModel)]="form.re_password" required>
                        </div>
                     </div>
                  </div>
                  <button type="submit" class="btn btn-black"  [disabled]="!signupform.valid">Sign Up</button>
                  <br>
                  Have an account?<a routerLink="/login"> Log in</a>
               </form>
            </div>
         </div>
      </div>