<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">TUBEKIDS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/videos">VIDEOS</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/profile">PERFILES</a>
      </li>
    </ul>
    <span class="navbar-text">
      <a class="nav-link" href="#">SALIR</a>
    </span>
  </div>
</nav>